body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
#usuariosTable{
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

tr{
    background-color: #f1f1f1;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #17f407;
    color: black;
}

button:hover {
    background-color: #17f407;
}

.title1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #17f407;
  }
